.example-spacer {
  flex: 1 1 auto;
}

/* Styling for main body */
.main-body {
  
  max-width: 1000px;
  padding-top: 20px;
  margin: 0px auto;
  /* margin-right: 50px; */
  text-align:center;
}

mat-form-field {
  width: 100%;
}
.head{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
}