/* Styling for Form content */
.content {
    padding-top: 10px;
}

/* Styling for heading */
.head{
    margin-left: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Styling for row */
.row {
    display: flex;
    gap: 10px;
}

mat-form-field {
    width: 100%;
}

.action {
    padding: 0px 25px 20px;
}